* {  
background-color: white;
margin: 0;
border: 0;
font-family: monospace; 
}
.main_1 {
font-size: 80px;
background-color: lightblue;
color: black;
}
.link_1 {
color: black; 
}
.image_1 {
width: 300px;
height: auto; 
}



