* {  
background-color: gray;
margin: 0;
border: 0;
font-family: monospace; 
}
.main_1 {
font-size: 52px;
background-color: lightblue;
color: lightgray;
}
.link_1 {
color: orange; 
}
.image_1 {
width: 300px;
height: auto; 
}



